* {
  padding: 0;
  margin: 0;
  /* background: #c9eee6db; */
}

.App {
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
    margin-bottom: 40px;
}
